body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1.logo {
  font-size: 250%;
}

.nav-bar {
  background-color: #004E2A;
  color: white;
  display: flex;
}

.closed > h1 {
  margin: 0;
  font-size: 200%;
}

.closed {
  justify-content: space-between;
  padding: 5px;
  height: 40px;
}

.open {
  height: 100vh;
  min-width: 150px;
  width: 30vw;
  max-width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.nav-links > a {
  color: white;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-decoration: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.full-page {
  height: calc(100vh - 50px);
  width: calc(100vw - 50px);
  margin: auto;

}

.auth-form > input.button {
  align-self: center;
}

.form-input-container {
  margin: 5px;
}

.form-input-container > input {
  width: 100%;
}

.button {
  font-size: 120%;
  background-color: #004E2A;
  color: white;
  border: none;
  padding: 10px;
}
